/** subpage_theme05 (button_color - Green White),(Webfont - 수트) **/

.theme05,
.theme05 input,
.theme05 select,
.theme05 textarea,
.theme05 code,
.theme05 button {font-family:"SUIT", sans-serif !important;}

/* 버튼 */
.theme05 .xans-product-action .action_button .sub_sold,
.theme05 [class^='btnSubmit']:not(.disabled) {background:#D9F4DA;color:#1c1c1c;}
.theme05 .xans-product-action .action_button .sub_sold:hover,
.theme05 [class^='btnSubmit']:not(.disabled):hover {background-color:#D9F4DAB3;}
.theme05 [class^='btnNormal']:not(.disabled),
.theme05 .main_image_text_gallery_more .main_image_text_gallery_more_btn,
.theme05 .more .btnMore {border:1px solid #ccc; color:#1c1c1c;}
.theme05 [class^='btnNormal']:not(.disabled):hover,
.theme05 [class^='btnNormal']:not(.disabled).selected,
.theme05 .main_image_text_gallery_more .main_image_text_gallery_more_btn:hover,
.theme05 .more .btnMore:hover{border-color:#D9F4DA;text-decoration:none;}

/* 최상단 배너 */
.theme05 .main_top_banner {background-color:#D9F4DA;}
.theme05 .main_top_banner .top_banner_box_inner .top_banner_text a,
.theme05 .main_top_banner .top_banner_box_inner .top_banner_close {color:#1c1c1c;}
.theme05 .main_top_banner .top_banner_box_inner .top_banner_close .icon:before, 
.theme05 .main_top_banner .top_banner_box_inner .top_banner_close .icon:after {background:#1c1c1c;}

/* 상단메뉴 */
.theme05 #header .inner .top_nav_box .top_logo a {line-height:initial;}
.theme05 #header .inner .top_nav_box .top_category > ul > li > a:after {background-color:#D9F4DA;}

/* 상품 진열 할인율 */
.theme05 .xans-product-detail .infoArea table .sale_box,
.theme05 .ec-base-product .prdList .thumbnail .sale_box {background-color:#D9F4DA;color:#3a3a3a;}

/* 슬라이드바 */
.theme05 .swiper-container .swiper-scrollbar {background:#F5FFF5;}
.theme05 .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {background:#D9F4DA;}
.theme05 .swiper-pagination-bullet {background:#F5FFF5;opacity:1;}
.theme05 .swiper-pagination-bullet-active {background:#D9F4DA;}

/* 메인 탭상품 상품진열 */
.theme05 .main_product_category .main_product_inner .main_product_tab li .button:after {background-color:#D9F4DA;}

/* 메인 지도 */
.theme05 .main_map {background-color:#F5FFF5;}
.theme05 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a {background-color:#D9F4DA;color:#1c1c1c;border-color:transparent;}
.theme05 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a:hover {background-color:#D9F4DAB3;}
.theme05 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a .icon[class*="icoPlus"]:before,
.theme05 .main_map .main_map_banner .main_map_banner_txt_box .main_long_banner_link a .icon[class*="icoPlus"]:after {background:#1c1c1c;}

/* 하단 */
.theme05 #footer {background:#F5FFF5;}

/* 모바일 슬라이드 */
.theme05 #aside .navigation_member {background:#F5FFF5;}

/* 목록페이지 중분류 */
.theme05 .ec-base-tab.typeMenu li a.button {background-color:#F5FFF5; border-color:transparent;}
.theme05 .ec-base-tab.typeMenu li.selected a.button {color:#1a1a1a;background-color:#fff;border:1px solid #D9F4DA;}

/* 메인상품분류 섹션,상품 더보기 버튼 */
.theme05 .more .btnMore {border:1px solid #ccc; color:#1c1c1c;}
.theme05 .more .btnMore:hover {border-color:#D9F4DA;}

/* 상품상세 */
/* .theme05 .detail_tab li {border-bottom-color:#D9F4DA;}
.detail_tab li.tab_open {border-color:#D9F4DA; border-bottom-color:#fff;} */

/* 캐러셀 */
.theme05 .smart-banner-bx-wrapper .bx-pager.bx-default-pager a {background:#F5FFF5 !important;}
.theme05 .smart-banner-bx-wrapper .bx-pager.bx-default-pager a:hover, .theme05 .smart-banner-bx-wrapper .bx-pager.bx-default-pager a.active {background:#D9F4DA !important;} 
.theme05 .ec-base-paginate.typeSwipe [id*='swipe-button'] button {background:#F5FFF5; opacity:1;}
.theme05 .ec-base-paginate.typeSwipe [id*='swipe-button'] button.selected {background:#D9F4DA;}

/* 로고 - 디자인 폰트 (사이드바는 디자인에따라서 class 다르기때문에)*/
.theme05  #header .inner .top_nav_box .top_logo a,
.theme05  #footer .inner .bt_logo a,
.theme05  #aside .navigation_member .side_logo a {
    font-family: "Cafe24Ssurround";
}
.theme05  #aside .navigation-menu .slide_logo a {
    font-family: "Cafe24Ssurround";
}
.theme05  #aside .navigation-menu .top_logo a {
    font-family: "Cafe24Ssurround";
}